.filterBar {
    padding: 2px 20px 2px 20px;
    height: 70px;
    overflow: hidden;
    background-color: #44055D;
    color:#F7FFFE;
    filter: drop-shadow(0 0 3px #646cffaa)
}

.direction {
    margin-top: 23px;
}

.apply {
    margin-top: 21px;
}